body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.button1{
    background: #e8491d;
    height: 38px;
    border: none;
    padding: 0 20px 0 20px;
    color: #fff;
}
.dark{
    padding: 10px;
    background: #35424a;
    color: #fff;
    margin: 10px 0 10px 0;
}
header{
    background-color: #35424a;
    color: #ffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d solid 3px ;
}
header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    padding: 0;
    margin: 0;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background: url(/images/back.jpg) no-repeat 50px -800px;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffff;
}
#showcase h1{
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#newsletter {
    color: #ffff;
    background: #35424a;
    padding: 15px;
} 
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 20px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    
    text-align: center;
    padding: 10px;
    width: 30%;
}
#box .box img{
    width: 90px;
}
aside#sidebar{
    float: right;
    margin-top: 10px;
    width: 30%;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 1px;
}
article#main-col{
    float: left;
    width: 65%;
}
ul#services{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 20px;
    background: #e6e6e6;
}
footer{
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    background: #e8491d;
    text-align: center;
}
/*media querries*/
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 50px;
    }
    #newsletter button{
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    #newsletter form input[type="email"]{
        display: block;
        width: 100%;
    }
}